body {
    background-color: #cfc1de;
    color: #2f035e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

img {
    width: 100%;
    padding: 15px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin: 0;
    padding: 30px;
    background-color:#2f035e;
    color:#cfc1de;
}

.instructions {
    list-style-type: decimal;
}

.video {
    padding-top: 10px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.likes-list {
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
}

.gallery-header {
    padding: 0;
    margin: 0;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.home-image {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    list-style: none;
    background-color: #2f035e;
    padding: 25px;
    font-size: 20px;
} 
.nav-bar a {
    color: #cfc1de;
    text-decoration: none;
    text-align: center;
}

.grid-discussion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 10px;
}

.skip-link {
    position: absolute;
	left: -1000px;
}

.skip-link:focus {
    left: 10px;
}

.nav-bar a.current-page {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}
